// VARS

// Colors
$white: #ffffff;
$blue: #7287ae;
$gray: #333333;
$green: #dfe9c1;

body {
    color: $gray;
    background-image: url(../Images/Background/background.png);
    background-repeat: no-repeat;
}